{% extends "base.html" %}
{% block page_title %}本の一覧ページ{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
{% endblock %}
{% block h1 %}本の一覧ページ{% endblock %}
{% block lead %}こちらのページでは本の一覧から好きな本を探せます{% endblock %}
{% block content %}
<div class="container mb-3">
    <table id="datatable" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
        <thead>
            <tr>
                <th>No.</th>
                <th>本名</th>
                <th>著者名</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    var oTable = $('#datatable').dataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'sample:booklist_ajax' %}" // 上で作成したエンドポイント
    });
    // ...
});
</script>
{% endblock %}